/*Adding google fonts "great vibes", "oswald" and "lato"*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');


/* Asterisk wildcard selector to overried default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




/*General style rules*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*For generic project styles*/
    color: #3a3a3a;
    font-family: "Lato", sans-serif;

}




/* Header*/
header {
    background-color: #ffffff;
    position: fixed;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}




header a {

    text-decoration: none;
    color:inherit;
    
}




h1 {
    font-family: "oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}





/*Main*/
main {
    background-color: lightblue;
    /*making main property take up any surplus area to push down footer*/
    flex: 1.0 auto;

    margin-top: 47px;
}




/*Made the menu letters bigger, spaced them out more and removed the bullet points
in order for it to be more readable and not let the users accidently tap the 
wrong menu button*/
#menu {
    /*The text size relative to the defult*/
    font-size:110%;
    /*letter spacing*/
    letter-spacing: 4px;
    /*Taking away the underline and bulletpoint and make it only text*/
    list-style-type: none;
}

/*Spaced each button out a bit more*/
#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*nav bar with dropdown toggle*/
nav {

    position:absolute;
    background-color: #ffffff;
    width: 100%;
    left:0;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 0 1rem;
    /*This is how you can hide the nav bar before you click on it*/
    display: none;
    /*in order to not getting your navbar in front of your title. this tells nav to
    start at the bottom of the parent element 0% is on top, 100% is on the bottom*/
    top:100%;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle{
    display:none;

}

.nav-toggle-label{
    font-size: 2rem;

}

/*footer*/
footer {
    background-color: lightcoral;
}
